
@model LoginModel

@{
    ViewBag.Title = "Login";

}

<div>
    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl">
        <div>

            <div>
                @Html.ValidationSummary()
            </div>
            </div>
                <div>
                    @Html.LabelFor(m => m.UserName)
                    @Html.EditorFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div>
                    @Html.LabelFor(m => m.Password)
                    @Html.EditorFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div>
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                    @Html.ValidationMessageFor(m => m.RememberMe)
                </div>
                <div>
                    <input type="submit" value="Login" />
                </div>
</form>
    
</div>