@model RegisterModel

@{
    ViewBag.Title = "Register";

}

<div>
    @using (Html.BeginForm())
    {
        <div>
            @Html.ValidationSummary()
        </div>

        <div>
            @Html.LabelFor(m => m.UserName)
            @Html.EditorFor(m => m.UserName)
            
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password)
        </div>
        <div>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.EditorFor(m => m.ConfirmPassword)
        </div>
        <div>
            <input type="submit" value="Register" />
        </div>
    }
</div>